body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    height: 64px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    border-bottom: 1px solid white;
}

.fit {
  max-width: 100%;
  max-height: 100%;
}

.center {
  display: block;
  margin: auto;
}

.poster {
    float: left;
}

.media {
  float: left;
  margin: 2px;
  margin-bottom: 5px;
  border: 1px solid #000;
  background-color: #555;
  padding: 5px;
  display: inline-block;
  position: relative;
}

.desc {
  color: #fff;
  background-color: #555;
  margin-top: 3px;
}

.overview {
    position: absolute;
    display: none;
    width: 163px;
    height: 180px;
    overflow-y: auto;
    left: 11px;
    top: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    padding: .3em;
    background-color: #ccc;
}

.media:hover p, p:hover {
    display: block;
}

#logo {
    float: left;
    line-height: 60px;
    height: 60px;
    margin:2px;
}

#title {
    max-width: 1024px;
    width: 100%;
    margin: auto;
}

#query_txt {
    max-width: 1024px;
    margin: auto;
    width: 90%;
    height: 40px;
    font-size: 1.2em;
    color: grey;
    padding-left: 10px;
    font-family: FontAwesome,arial;
    margin: 0;
    display: inline-block;
    border-radius: 5px;
}

#db_query {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

#results {
    max-width: 1024px;
    width: 100%;
    margin: auto;
    padding: 0;
    margin-top: 0;
}

#movie, #tv, #collection, #person, #company, #error {
    clear: both;
    display: none;
    text-align: center;
    max-width: 1024px;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 30px;
    overflow: auto;
}
